In [157]:
import pandas as pd 
import numpy as np

In [158]:
facturacompras=pd.read_csv("D:\\INVENTORY\\InvoicePurchases12312016.csv")

facturacompras.to_csv("facturacompras.csv")

In [159]:
# obtenemos el nombre de las columnas 
facturacompras.columns

Index(['VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber', 'PODate',
       'PayDate', 'Quantity', 'Dollars', 'Freight', 'Approval'],
      dtype='object')

In [160]:
# indica informacion sobre las columnas , en este caso su uso es para saber el tipo de dato 
facturacompras.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5543 entries, 0 to 5542
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   VendorNumber  5543 non-null   int64
 1   VendorName    5543 non-null   object
 2   InvoiceDate   5543 non-null   object
 3   PONumber      5543 non-null   int64
 4   PODate        5543 non-null   object
 5   PayDate       5543 non-null   object
 6   Quantity      5543 non-null   int64
 7   Dollars       5543 non-null   float64
 8   Freight       5543 non-null   float64
 9   Approval      374 non-null    object
dtypes: float64(2), int64(3), object(5)
memory usage: 433.2+ KB

In [161]:
# verificamos si hay valores nulos en el dataframe 
print(facturacompras.isnull().sum())

VendorNumber       0
VendorName         0
InvoiceDate        0
PONumber           0
PODate             0
PayDate            0
Quantity           0
Dollars            0
Freight            0
Approval        5169
dtype: int64

In [162]:
#Verificamos las filas con valores nulos
Compras_filas_nulas = facturacompras.isnull().any(axis=1)

#filas con valores nulos
Compras_filas_con_nulos = facturacompras [Compras_filas_nulas]

#se imprimira un mensaje si no hay filas con nulos , caso contrario se mostraran las filas con valores ausentes
if  Compras_filas_con_nulos.empty:
    print("No se encontraron filas con valores nulos.")
else:
    print("Filas con valores nulos encontradas:")
    print(Compras_filas_con_nulos)

Filas con valores nulos encontradas:
      VendorNumber                   VendorName InvoiceDate  PONumber  \
0              105  ALTAMAR BRANDS LLC           2016-01-04      8124
1             4466  AMERICAN VINTAGE BEVERAGE    2016-01-07      8137
2              388  ATLANTIC IMPORTING COMPANY   2016-01-09      8169
3              480  BACARDI USA INC              2016-01-12      8106
4              516  BANFI PRODUCTS CORP          2016-01-07      8170
...            ...                          ...         ...       ...
5538          9622  WEIN BAUER INC               2017-01-06     13626
5539          9625  WESTERN SPIRITS BEVERAGE CO  2017-01-10     13661
5540          3664  WILLIAM GRANT & SONS INC     2017-01-02     13643
5541          9815  WINE GROUP INC               2017-01-03     13602
5542         90058  ZORVINO VINEYARDS            2017-01-05     13574

          PODate     PayDate  Quantity    Dollars  Freight Approval
0     2015-12-21  2016-02-16         6     214.26     3.47      NaN
1     2015-12-22  2016-02-21        15     140.55     8.57      NaN
2     2015-12-24  2016-02-16         5     106.60     4.61      NaN
3     2015-12-20  2016-02-05     10100  137483.78  2935.20      NaN
4     2015-12-24  2016-02-12      1935   15527.25   429.20      NaN
...          ...         ...       ...        ...      ...      ...
5538  2016-12-21  2017-02-10        90    1563.00     8.60      NaN
5539  2016-12-23  2017-02-18      4617   37300.48   186.50      NaN
5540  2016-12-22  2017-02-04      9848  202815.78   932.95      NaN
5541  2016-12-20  2017-02-08     24747  149007.56   819.54      NaN
5542  2016-12-18  2017-02-12       437    3608.11    16.60      NaN

[5169 rows x 10 columns]

In [163]:
# averiguar si existen filas duplicadas
filas_duplicadas = facturacompras.duplicated()

# recuento de las filas duplicadas
contar_filas_duplicadas = filas_duplicadas.sum()

# Mostramos el número de filas duplicadas
print(f'Número de filas duplicadas en la tabla de factura_compras: {contar_filas_duplicadas}')

#mostramos las filas filas duplicadas 
if contar_filas_duplicadas > 0:
    print("Filas duplicadas en la tabla Producto:")
    print(facturacompras[filas_duplicadas])

Número de filas duplicadas en la tabla de factura_compras: 0

In [164]:
#Verificamos solo las columnas numericas con valores negativos 
negativos = facturacompras.select_dtypes(include=['number']) < 0

# Obtenemos los nombres de las columnas que tienen valores negativos
columnas_negativas = negativos.any()

# Filtramos las columnas que tienen al menos un valor negativo
columnas_con_negativos = columnas_negativas[columnas_negativas].index.tolist()

# Imprimimos los resultados
if columnas_con_negativos:
    print(f"Columnas con valores negativos: {columnas_con_negativos}")
    for column in columnas_con_negativos:
        print(f"\nValores negativos en la columna '{column}':")
        print(facturacompras[facturacompras[column] < 0]) # muestra las filas negativas
else:
    print("No hay valores negativos en el Dataframe.")

No hay valores negativos en el Dataframe.

In [165]:
# Reemplazamos los valores nulos en la columna 'Approval' con 'No Aplica'
facturacompras['Approval'] = facturacompras['Approval'].fillna('Sin Aplicar')

# Mostrar las primeras filas  para verificar el cambio
print(facturacompras.head())

   VendorNumber                   VendorName InvoiceDate  PONumber  \
0           105  ALTAMAR BRANDS LLC           2016-01-04      8124
1          4466  AMERICAN VINTAGE BEVERAGE    2016-01-07      8137
2           388  ATLANTIC IMPORTING COMPANY   2016-01-09      8169
3           480  BACARDI USA INC              2016-01-12      8106
4           516  BANFI PRODUCTS CORP          2016-01-07      8170

       PODate     PayDate  Quantity    Dollars  Freight     Approval
0  2015-12-21  2016-02-16         6     214.26     3.47  Sin Aplicar
1  2015-12-22  2016-02-21        15     140.55     8.57  Sin Aplicar
2  2015-12-24  2016-02-16         5     106.60     4.61  Sin Aplicar
3  2015-12-20  2016-02-05     10100  137483.78  2935.20  Sin Aplicar
4  2015-12-24  2016-02-12      1935   15527.25   429.20  Sin Aplicar

In [166]:
#Verificamos las filas con valores nulos
Compras_filas_nulas = facturacompras.isnull().any(axis=1)

#Mostramos las filas con valores nulos
Compras_filas_con_nulos = facturacompras [Compras_filas_nulas]

#Imprimimos las filas con valores nulos
if not Compras_filas_con_nulos.empty:
    print("Filas con valores nulos encontradas:")
    print(Compras_filas_con_nulos)
else:
    print("No se encontraron filas con valores nulos.")

No se encontraron filas con valores nulos.

In [167]:
facturacompras.to_csv("facturacompras.csv")

In [168]:
facturacompras.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5543 entries, 0 to 5542
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   VendorNumber  5543 non-null   int64
 1   VendorName    5543 non-null   object
 2   InvoiceDate   5543 non-null   object
 3   PONumber      5543 non-null   int64
 4   PODate        5543 non-null   object
 5   PayDate       5543 non-null   object
 6   Quantity      5543 non-null   int64
 7   Dollars       5543 non-null   float64
 8   Freight       5543 non-null   float64
 9   Approval      5543 non-null   object
dtypes: float64(2), int64(3), object(5)
memory usage: 433.2+ KB

In [169]:
# Cambiar el tipo de dato de las columnas de fecha 

facturacompras['InvoiceDate']=pd.to_datetime(facturacompras['InvoiceDate'])
facturacompras['PODate']=pd.to_datetime(facturacompras['PODate'])
facturacompras['PayDate']=pd.to_datetime(facturacompras['PayDate'])

In [170]:
# verificar el tipo de dato de cada columna 
facturacompras.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5543 entries, 0 to 5542
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   VendorNumber  5543 non-null   int64
 1   VendorName    5543 non-null   object
 2   InvoiceDate   5543 non-null   datetime64[ns]
 3   PONumber      5543 non-null   int64
 4   PODate        5543 non-null   datetime64[ns]
 5   PayDate       5543 non-null   datetime64[ns]
 6   Quantity      5543 non-null   int64
 7   Dollars       5543 non-null   float64
 8   Freight       5543 non-null   float64
 9   Approval      5543 non-null   object
dtypes: datetime64[ns](3), float64(2), int64(3), object(2)
memory usage: 433.2+ KB

In [171]:
print(facturacompras.describe())

       VendorNumber                    InvoiceDate      PONumber  \
count    5543.00000                           5543   5543.000000
mean    20662.75212  2016-07-10 18:59:25.578206720  10889.419087
min         2.00000            2016-01-04 00:00:00   8106.000000
25%      3089.00000            2016-04-11 00:00:00   9503.500000
50%      7240.00000            2016-07-11 00:00:00  10890.000000
75%     10754.00000            2016-10-09 00:00:00  12275.500000
max    201359.00000            2017-01-10 00:00:00  13661.000000
std     34582.15841                            NaN   1600.859969

                              PODate                     PayDate  \
count                           5543                        5543
mean   2016-06-24 08:48:08.832762112  2016-08-15 06:14:05.607072
min              2015-12-20 00:00:00         2016-02-04 00:00:00
25%              2016-03-24 12:00:00         2016-05-16 00:00:00
50%              2016-06-25 00:00:00         2016-08-15 00:00:00
75%              2016-09-23 00:00:00         2016-11-14 00:00:00
max              2016-12-23 00:00:00         2017-02-19 00:00:00
std                              NaN                         NaN

            Quantity       Dollars      Freight
count    5543.000000  5.543000e+03  5543.000000
mean     6058.880931  5.807338e+04   295.954301
min         1.000000  4.140000e+00     0.020000
25%        83.000000  9.678100e+02     5.020000
50%       423.000000  4.765450e+03    24.730000
75%      5100.500000  4.458718e+04   229.660000
max    141660.000000  1.660436e+06  8468.220000
std     14453.338164  1.402340e+05   713.585093

### Analisis Exploratorio de Datos

#### El Análisis Exploratorio de Datos (EDA) es una etapa crucial en el análisis de datos que se realiza antes de aplicar técnicas analíticas más avanzadas. Su propósito principal es explorar y comprender el conjunto de datos para facilitar la toma de decisiones y la preparación para análisis posteriores. Durante el EDA, se examina la estructura general del conjunto de datos, identificando las variables y sus tipos. También se buscan patrones y relaciones entre las variables para entender mejor la información contenida en los datos.

#### De esta forma podremos  detectar anomalías, como valores atípicos o inconsistencias, y en evaluar la calidad de los datos, identificando y tratando datos faltantes o duplicados. Se realiza un análisis estadístico descriptivo para obtener medidas clave como la media, la mediana y la desviación estándar. Esta fase permite obtener una visión clara y completa del conjunto de datos, lo que facilita la preparación y el análisis más detallado en etapas posteriores del proceso analítico.

In [172]:
for i in facturacompras.columns:
    print(f'|{i}|','\n',)
    print(facturacompras[i].describe())
    print('------------------------------------')

|VendorNumber|

count      5543.00000
mean      20662.75212
std       34582.15841
min           2.00000
25%        3089.00000
50%        7240.00000
75%       10754.00000
max      201359.00000
Name: VendorNumber, dtype: float64
------------------------------------
|VendorName|

count                            5543
unique                            129
top       MHW LTD
freq                               55
Name: VendorName, dtype: object
------------------------------------
|InvoiceDate|

count                             5543
mean     2016-07-10 18:59:25.578206720
min                2016-01-04 00:00:00
25%                2016-04-11 00:00:00
50%                2016-07-11 00:00:00
75%                2016-10-09 00:00:00
max                2017-01-10 00:00:00
Name: InvoiceDate, dtype: object
------------------------------------
|PONumber|

count     5543.000000
mean     10889.419087
std       1600.859969
min       8106.000000
25%       9503.500000
50%      10890.000000
75%      12275.500000
max      13661.000000
Name: PONumber, dtype: float64
------------------------------------
|PODate|

count                             5543
mean     2016-06-24 08:48:08.832762112
min                2015-12-20 00:00:00
25%                2016-03-24 12:00:00
50%                2016-06-25 00:00:00
75%                2016-09-23 00:00:00
max                2016-12-23 00:00:00
Name: PODate, dtype: object
------------------------------------
|PayDate|

count                          5543
mean     2016-08-15 06:14:05.607072
min             2016-02-04 00:00:00
25%             2016-05-16 00:00:00
50%             2016-08-15 00:00:00
75%             2016-11-14 00:00:00
max             2017-02-19 00:00:00
Name: PayDate, dtype: object
------------------------------------
|Quantity|

count      5543.000000
mean       6058.880931
std       14453.338164
min           1.000000
25%          83.000000
50%         423.000000
75%        5100.500000
max      141660.000000
Name: Quantity, dtype: float64
------------------------------------
|Dollars|

count    5.543000e+03
mean     5.807338e+04
std      1.402340e+05
min      4.140000e+00
25%      9.678100e+02
50%      4.765450e+03
75%      4.458718e+04
max      1.660436e+06
Name: Dollars, dtype: float64
------------------------------------
|Freight|

count    5543.000000
mean      295.954301
std       713.585093
min         0.020000
25%         5.020000
50%        24.730000
75%       229.660000
max      8468.220000
Name: Freight, dtype: float64
------------------------------------
|Approval|

count            5543
unique              2
top       Sin Aplicar
freq             5169
Name: Approval, dtype: object
------------------------------------

In [173]:
# si bien la informacion que nos otorga .describe() es muy util , decidimos profundizar con mayor granularidad en ciertas columnas de interes 
columnas_de_interes = ['VendorNumber', 'PONumber','Quantity', 'Dollars', 'Freight']

#Definimos la función para imprimir las estadísticas de una columna
def print_column_stats(df, column):
    print(f"\nEstadísticas para la columna '{column}':")
    print(f"Número total de valores (incluyendo nulos): {len(df[column])}")
    print(f"Número total de valores: {df[column].agg('count')}")
    print(f"Número de valores únicos: {df[column].nunique()}")
    print(f"Valor más frecuente (top): {df[column].mode()[0]}")
    print(f"Frecuencia del valor más frecuente (freq): {df[column].value_counts().max()}")
    print(f"Valor mínimo: {df[column].agg('min')}")
    print(f"Valor maximo: {df[column].agg('max')}")
    print(f"Media: {df[column].agg('mean')}")


#Con un ciclo For, iteraramos sobre las columnas de flotantes
for column in columnas_de_interes:
    print_column_stats(facturacompras, column)

Estadísticas para la columna 'VendorNumber':
Número total de valores (incluyendo nulos): 5543
Número total de valores: 5543
Número de valores únicos: 126
Valor más frecuente (top): 4425
Frecuencia del valor más frecuente (freq): 82
Valor mínimo: 2
Valor maximo: 201359
Media: 20662.752119790726

Estadísticas para la columna 'PONumber':
Número total de valores (incluyendo nulos): 5543
Número total de valores: 5543
Número de valores únicos: 5543
Valor más frecuente (top): 8106
Frecuencia del valor más frecuente (freq): 1
Valor mínimo: 8106
Valor maximo: 13661
Media: 10889.41908713693

Estadísticas para la columna 'Quantity':
Número total de valores (incluyendo nulos): 5543
Número total de valores: 5543
Número de valores únicos: 2895
Valor más frecuente (top): 12
Frecuencia del valor más frecuente (freq): 228
Valor mínimo: 1
Valor maximo: 141660
Media: 6058.880930903842

Estadísticas para la columna 'Dollars':
Número total de valores (incluyendo nulos): 5543
Número total de valores: 5543
Número de valores únicos: 5226
Valor más frecuente (top): 214.26
Frecuencia del valor más frecuente (freq): 22
Valor mínimo: 4.14
Valor maximo: 1660435.88
Media: 58073.383642431894

Estadísticas para la columna 'Freight':
Número total de valores (incluyendo nulos): 5543
Número total de valores: 5543
Número de valores únicos: 4052
Valor más frecuente (top): 0.26
Frecuencia del valor más frecuente (freq): 13
Valor mínimo: 0.02
Valor maximo: 8468.22
Media: 295.9543009200794

In [174]:
#Verificamos si las compras con los costos de envio mas elevados son aprobadas por algun encargado

# Ordenar el DataFrame por la columna 'Importe' en orden descendente
df_sorted = facturacompras.sort_values('Dollars', ascending=False)

#Filtramos las primeras 30 filas
top_30_dollars = df_sorted.head(30)

# Mostrar el resultado
print(top_30_dollars)

#Con esto vemos que las compras que tienen costo de envio mas alto, requieren autorizacion previa

      VendorNumber                   VendorName InvoiceDate  PONumber  \
4728          3960  DIAGEO NORTH AMERICA INC     2016-11-15     12833
4521          3960  DIAGEO NORTH AMERICA INC     2016-11-03     12618
4627          3960  DIAGEO NORTH AMERICA INC     2016-11-12     12771
2822          3960  DIAGEO NORTH AMERICA INC     2016-07-16     10936
3025          3960  DIAGEO NORTH AMERICA INC     2016-08-01     11191
4829          3960  DIAGEO NORTH AMERICA INC     2016-11-29     12981
5037          3960  DIAGEO NORTH AMERICA INC     2016-12-07     13190
5456          3960  DIAGEO NORTH AMERICA INC     2017-01-10     13594
3129          3960  DIAGEO NORTH AMERICA INC     2016-08-03     11300
2125          3960  DIAGEO NORTH AMERICA INC     2016-06-06     10260
1317          3960  DIAGEO NORTH AMERICA INC     2016-04-06      9451
2924          3960  DIAGEO NORTH AMERICA INC     2016-07-26     11028
4416          3960  DIAGEO NORTH AMERICA INC     2016-10-25     12579
5240          3960  DIAGEO NORTH AMERICA INC     2016-12-21     13354
2330          3960  DIAGEO NORTH AMERICA INC     2016-06-15     10468
3631          3960  DIAGEO NORTH AMERICA INC     2016-09-09     11794
3428          3960  DIAGEO NORTH AMERICA INC     2016-08-30     11589
5349          3960  DIAGEO NORTH AMERICA INC     2016-12-31     13501
5138          3960  DIAGEO NORTH AMERICA INC     2016-12-13     13258
1719          3960  DIAGEO NORTH AMERICA INC     2016-05-07      9904
4045          3960  DIAGEO NORTH AMERICA INC     2016-10-08     12149
3738          3960  DIAGEO NORTH AMERICA INC     2016-09-13     11907
4313          3960  DIAGEO NORTH AMERICA INC     2016-10-24     12470
2226          3960  DIAGEO NORTH AMERICA INC     2016-06-09     10415
5487          4425        MARTIGNETTI COMPANIES  2017-01-03     13584
4213          3960  DIAGEO NORTH AMERICA INC     2016-10-13     12397
2534          3960  DIAGEO NORTH AMERICA INC     2016-06-29     10700
109           3960  DIAGEO NORTH AMERICA INC     2016-01-14      8271
2435          3960  DIAGEO NORTH AMERICA INC     2016-06-20     10566
3228          3960  DIAGEO NORTH AMERICA INC     2016-08-16     11329

         PODate    PayDate  Quantity     Dollars  Freight        Approval
4728 2016-10-30 2016-12-19    141660  1660435.88  8468.22  Frank Delahunt
4521 2016-10-16 2016-12-14    122740  1468470.64  7048.66  Frank Delahunt
4627 2016-10-26 2016-12-24    127553  1409683.51  7753.26  Frank Delahunt
2822 2016-06-27 2016-08-13    131712  1377224.55  7574.74  Frank Delahunt
3025 2016-07-14 2016-09-07    128861  1354087.31  7041.25  Frank Delahunt
4829 2016-11-09 2016-12-30    119586  1321953.42  7006.35  Frank Delahunt
5037 2016-11-23 2017-01-16    116491  1319062.86  6331.50  Frank Delahunt
5456 2016-12-20 2017-02-05    129816  1226463.19  6132.32  Frank Delahunt
3129 2016-07-21 2016-09-14    114609  1225680.18  6373.54  Frank Delahunt
2125 2016-05-17 2016-07-14    117416  1219948.49  6709.72  Frank Delahunt
1317 2016-03-22 2016-05-10    106205  1162576.08  5812.88  Frank Delahunt
2924 2016-07-03 2016-08-18    131032  1160975.84  6269.27  Frank Delahunt
4416 2016-10-12 2016-12-05    112498  1160505.37  6150.68  Frank Delahunt
5240 2016-12-05 2017-01-30    134333  1127733.09  5300.35  Frank Delahunt
2330 2016-05-31 2016-07-24    108170  1117060.84  5473.60  Frank Delahunt
3631 2016-08-24 2016-10-06    112335  1114978.86  6020.89  Frank Delahunt
3428 2016-08-10 2016-10-05    119801  1104864.79  5855.78  Frank Delahunt
5349 2016-12-14 2017-02-08    124996  1104187.97  4968.85  Frank Delahunt
5138 2016-11-28 2017-01-29    116065  1049079.36  4720.86  Frank Delahunt
1719 2016-04-22 2016-06-14    112194  1041834.26  4792.44  Frank Delahunt
4045 2016-09-18 2016-11-07    118819  1038996.71  4883.28  Frank Delahunt
3738 2016-09-01 2016-10-19    108240  1019820.55  4691.17  Frank Delahunt
4313 2016-10-05 2016-11-24    110018  1018011.41  4581.05  Frank Delahunt
2226 2016-05-27 2016-07-13    104451  1013433.92  4560.45  Frank Delahunt
5487 2016-12-19 2017-02-17     92470  1010674.21  4952.30  Frank Delahunt
4213 2016-09-30 2016-11-27    111132  1006682.30  5033.41  Frank Delahunt
2534 2016-06-16 2016-08-09     99841   982423.13  4420.90  Frank Delahunt
109  2015-12-31 2016-02-11    100183   954454.16  4581.38  Frank Delahunt
2435 2016-06-07 2016-08-04    109575   931123.74  5028.07  Frank Delahunt
3228 2016-07-24 2016-09-14    106690   930623.99  4187.81  Frank Delahunt

In [175]:
# con el caso anterior se llega a la conclusion de que los valores mas alto en importe necesitan una aprobacion de Frank Delahunt , entonces es de vital importancia conocer cual es valor minimo que no requiere una aprobacion 

maximo_noaplica=facturacompras[facturacompras['Approval'] == 'Sin Aplicar' ]['Dollars'].max()
valor_minimo_aprobacion = facturacompras[facturacompras['Approval']=='Frank Delahunt']['Dollars'].min()

print(f'en este caso los valores por debajo de {maximo_noaplica} no requieren una aprobacion pero apartir de {valor_minimo_aprobacion} deberan ser supervisados por Frank Delahunt ')

en este caso los valores por debajo de 249821.96 no requieren una aprobacion pero apartir de 250689.87 deberan ser supervisados por Frank Delahunt